/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	color: #393d41;
	font-family: "Open Sans", sans-serif;
	font-size: 1.2rem;
	line-height: 1.65;
}

h1 {
	font-size: 1.6em;
}

h1,
h2,
h3 {
	color: #25a2c3;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	line-height: 1;
}

.el__margin-bottom {
	margin-bottom: 15px;
}

.txt--uppercase {
	text-transform: uppercase;
}

/* HEADER */

header {
	background-color: black;
	padding: 20px 30px;
}

header div {
	text-align: center;
}

.header__img {
	width: 25vh;
	height: 8vh;
}

/* NAV */

.nav__bg-img {
	background-image: url(../images/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 10em; */
}

nav {
	text-align: center;
	padding: 30px 20px;
}

nav button {
	background-color: #f04c2f;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 5px;
	border: none;
}

/* MAIN */

main {
}

/* ELEMENTI NEL MAIN - ARTICLE */

article {
	padding: 30px 20px;
	text-align: center;
}

.article__div {
	margin-bottom: 25px;
}

#article__img--rounded {
	border-radius: 50%;
	overflow: hidden;
	width: 60vw;
	margin-bottom: 20px;
}

/* ELEMENTI NEL MAIN - SECTION */

section {
	padding: 30px 20px;
	background-color: #e22d0e;
	padding: 30px 20px;
	color: white;
	text-align: center;
}

section h1 {
	color: white;
}

section div {
	margin-top: 20px;
}

section h4 {
	font-size: 1.2em;
}

#section__quote {
	font-style: italic;
}

#section__p--subtxt {
	font-size: 0.8em;
}

/* ASIDE */

aside {
	padding: 30px 20px;
}

.card {
	margin: 20px 0;
	border: 1px #dee1e3 solid;
	border-radius: 5px;
	overflow: hidden;
}

.card img {
	width: 100%;
}

.card--text {
	text-align: center;
	padding: 20px 15px;
}

/* FOOTER */

footer {
	background-color: #25a2c3;
}
